
$background = #00AAAF;

$navcolor = #407375;

$titlecolor = #0C0033;



$standardfont = 'Roboto';

$logofont = 'Museo Sans Rounded';


//info blocks
.home-info-block{
  
}

.home-info-block__image {
  
}

.home-info-block__info-square {
  
}

.home-info-block__info-square__title{}

.home-info-block__info-square__bullet{}

.home-info-block__info-square__view-more{}

//recipe posts section
.recipe-posts-wheel__title {
  color: $titlecolor;
  font-size: 20px;
  line-height: 32px;
  opacity: 0.5;  
}

.recipe-posts-wheel-tile {
  
}

.recipe-posts-wheel-tile__image {
  height: 399px;
  width: 360px;
}

.recipe-posts-wheel-tile__title {
	height: 32px;
	width: 315.46px;
	color: #0C0033;
	font-family: Roboto;
	font-size: 20px;
	line-height: 32px;
	text-align: center;
}