/*********************************************************/
/************         ABOUT PAGE STYLES       ************/
/*********************************************************/
.about-hero-img__wrapper{
  min-height: 95vh;
}
.about-hero-image{
  width: 100%;
}
.about-blurb-divider{
  max-width: 80%;
  margin: 100px auto 100px auto;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  min-height: 50vh;
}

.about-blurb p{
  opacity: 0.5;
  font-family: Average, serif;
  font-size: 2rem;
  line-height: 3.3rem;
  text-align: center;
  color: #0C0033;
}
.about-janet-container{
  display: flex;
  justify-content: space-between;
  
  background-color: #E7E7E7;
}
.about-janet__text-box{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: baseline;
  max-width: 60%;
  padding: 50px 50px 50px 100px;
  flex-basis: 50%;
}
.about-janet__title{
  color: #2F5658;
  font-family: serif;
  font-size: 35px;
  line-height: 42px;
  margin-bottom: 1.5rem;
}
.about-janet__text{
  margin: 1rem;
  max-width: 70%;
}
.about-janet__text p{
  color: #0C0033;
  font-size: 17px;
  font-family: Average, serif;
}
.about-janet__image{
  flex-basis: 50%;
  display: flex;
}

.unsure-blurb-box{
  margin: 100px auto 100px auto;
  max-width: 70%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  align-content: baseline;
}
.unsure-blurb__text{
  color: #0C0033;
  text-align: center;
  font-family: Average, serif;
  font-size: 24px;
  margin-top: 1.75em;
}

.nutrition-consultations__wrapper{
  display: flex;
  background-color: #E7E7E7;
}
.nutrition-consultations__image-wrapper{
  flex-basis: 50%;
  height: 100%;
  width: 50%;
}
.nutrition-consultations__image{
  width: 50vw;
  height: 790px;
}
.nutrition-consultations__textbox{
  flex-basis: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-content: center;
  padding: 50px 30px 50px 30px;
}
.nutrition-consultations__text-title{
	color: #2F5658;
	font-family: Average;
	font-size: 2rem;
	line-height: 2.6rem;
}
.long-underscore{
  height: 1px;
  width: 3em;
  border: 3px solid #2F5658;
}
.nutrition-consultations__text{
    color: #0C0033;
    font-size: 17px;
    font-family: Average, serif;
    max-width: 70%;
} 
.price-tile__container{
  height: 600px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  align-content: center;
}
.price-tile__price{
  color: #CECECE;
  font-family: Clarendon;
  font-size: 100px;
  line-height: 97px;
	text-align: center;
}
.price-tile__title{
  color: #0C0033;
  font-size: 18px;
  line-height: 24px;
  text-align: center;
  font-family: 'Montserrat';
}
.price-tile__description{
	color: #0C0033;
	font-family: Clarendon;
	font-size: 17px;
	font-weight: 300;
	line-height: 32px;
	text-align: center;
}

/*-----------therapy section --> */
.therapy-benefits__container{
  height: 50rem;
  max-width: 50%;
  margin: 70px auto 70px auto;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
.therapy-benefits__text{
	opacity: 0.5;
	color: #0C0033;
	font-family: Average;
	font-size: 2rem;
	line-height: 2.5rem;
	text-align: center;
}
.therapy-benefits__bullets{
  max-width: 50%;
  display: flex;
  justify-content: center;
}

.short-underscore{
  height: 1px;
  width: 3rem;
  border: 3px solid #2F5658;
}
.bullet-list li{
  font-size: 1.5rem;
  line-height: 2rem;
  color: #0C0033;
  margin: .8rem;
}
.about-nutritional-therapy__title{
	color: #2F5658;
	font-family: Average;
	font-size: 35px;
	line-height: 42px;
}

.nut-therapy-section{
  padding: 50px 0 50px 0;
  background-color: #E7E7E7;
}
.nut-therapy__wrapper{
  margin: 1.5rem;
  display: flex;
  justify-content: space-around;
}
.nut-therapy__text-wrapper{
  flex-basis: 60%; 
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.nut-therapy__title{
	color: #2F5658;
	font-family: Average;
	font-size: 35px;
	line-height: 42px;
}
.nut-therapy__text{
	color: #0C0033;
	font-family: Average;
	font-size: 17px;
	line-height: 32px;
}
.nut-therapy__image-box{
  flex: 0 0 20%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  
}
