/****************************************************************/
/*****************      NEWS Post STYLES         ****************/
/****************************************************************/
.news-header__button{
  max-width: 5rem;
}

.page-content-wrapper{
  max-width: 80%;
  margin-left: auto;
  margin-right: auto;
}

.news-post-title{
	color: #2F5658;
	font-family: 'Average';
	font-size: 48px;
	line-height: 64px;
}

.news-post-meta{
	opacity: 0.5;
	color: #0C0033;
	font-family: 'Montserrat', sans-serif;
	font-size: 18px;
	line-height: 24px;
}

.news-post-content__wrapper{
	color: #0C0033;
	font-family: Average;
	font-size: 17px;
	line-height: 32px;
	max-width: 80%;
	margin-left: auto;
	margin-right: auto;
}

.news-post-content__content{
	margin-left: auto;
	margin-right: auto;
}

