/****************************************************************/
/*****************      NEWS Post STYLES         ****************/
/****************************************************************/
.news-header__button{
  max-width: 5rem;
}

.page-content-wrapper{
  max-width: 80%;
  margin-left: auto;
  margin-right: auto;
}

.news-post-title{
	color: #2F5658;
	font-family: 'Average';
	font-size: 48px;
	line-height: 64px;
}

.news-post-meta{
	opacity: 0.5;
	color: #0C0033;
	font-family: 'Montserrat', sans-serif;
	font-size: 18px;
	line-height: 24px;
}

.news-post-content__wrapper{
	color: #0C0033;
	font-family: Average;
	font-size: 17px;
	line-height: 32px;
	max-width: 80%;
	margin-left: auto;
	margin-right: auto;
}

.news-post-content__content{
	margin-left: auto;
	margin-right: auto;
}

.news-slider__slider{
  margin-top: 50px;
  margin-bottom: 50px;
  display: flex;
  justify-content: space-around;
}
.news-slider__post-tile{
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  align-items: center;
}
.news-slider__post-img{
  
}
.news-slider__post-title{
  color: #0C0033;
  font-family: Average;
  font-size: 2rem;
  line-height: 2.6rem;	
  text-align: center;
  max-width: 85%;
  margin-top: 1rem;
  margin-bottom: 1rem;
  margin: auto;
}
.news-slider__post-title-wrapper{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
