#page {
  background-color: #00aaaf;
}
body {
  background-color: #00aaaf !important;
}
.funfact-container {
  font-family: 'Roboto', sans-serif;
  background-color: #00aaaf;
  color: white;
  float: right;
}
.site {
  background-color: #00aaaf;
}
.site-branding__title__text {
  color: #fff;
  font-family: 'Raleway', sans-serif;
  text-align: left;
}
.recipe-posts-wheel__title {
  color: #0c0033;
  font-size: 20px;
  line-height: 32px;
  opacity: 0.5;
}
.recipe-posts-wheel-tile__image {
  height: 399px;
  width: 360px;
}
.recipe-posts-wheel-tile__title {
  height: 32px;
  width: 315.46px;
  color: #0c0033;
  font-family: Roboto;
  font-size: 20px;
  line-height: 32px;
  text-align: center;
}
